{% extends "base.html" %}
{% block title %}
{{ article.title }} - {{ SITENAME }}
{% endblock %}
{% block content %}
<h1>{{ article.title }}</h1>
{{ article.content }}
<br>
<div style="display: flex; justify-content: space-between; align-items: center">
    <i class="greyed-out">{{ article.date | strftime("%B %-d, %Y") }}</i>
    {% if article.category == 'blog' %}
    <div>
        <a href="mailto:{{ EMAIL }}?subject={{ article.title|urlencode }}">Reply</a>
    </div>
    {% endif %}
</div>
{% endblock %}