:root[data-theme="dark"] pre { line-height: 125%; }
:root[data-theme="dark"] td.linenos .normal { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
:root[data-theme="dark"] span.linenos { color: #3c4354; background-color: transparent; padding-left: 5px; padding-right: 5px; }
:root[data-theme="dark"] td.linenos .special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:root[data-theme="dark"] span.linenos.special { color: #3c4354; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:root[data-theme="dark"] .codehilite .hll { background-color: #6e7681 }
:root[data-theme="dark"] .codehilite { background: #1d2331; color: #d4d2c8 }
:root[data-theme="dark"] .codehilite .c { color: #7e8aa1 } /* Comment */
:root[data-theme="dark"] .codehilite .err { color: #f88f7f } /* Error */
:root[data-theme="dark"] .codehilite .esc { color: #d4d2c8 } /* Escape */
:root[data-theme="dark"] .codehilite .g { color: #d4d2c8 } /* Generic */
:root[data-theme="dark"] .codehilite .k { color: #FFAD66 } /* Keyword */
:root[data-theme="dark"] .codehilite .l { color: #D5FF80 } /* Literal */
:root[data-theme="dark"] .codehilite .n { color: #d4d2c8 } /* Name */
:root[data-theme="dark"] .codehilite .o { color: #FFAD66 } /* Operator */
:root[data-theme="dark"] .codehilite .x { color: #d4d2c8 } /* Other */
:root[data-theme="dark"] .codehilite .p { color: #d4d2c8 } /* Punctuation */
:root[data-theme="dark"] .codehilite .ch { color: #f88f7f; font-style: italic } /* Comment.Hashbang */
:root[data-theme="dark"] .codehilite .cm { color: #7e8aa1 } /* Comment.Multiline */
:root[data-theme="dark"] .codehilite .cp { color: #FFAD66; font-weight: bold } /* Comment.Preproc */
:root[data-theme="dark"] .codehilite .cpf { color: #7e8aa1 } /* Comment.PreprocFile */
:root[data-theme="dark"] .codehilite .c1 { color: #7e8aa1 } /* Comment.Single */
:root[data-theme="dark"] .codehilite .cs { color: #7e8aa1; font-style: italic } /* Comment.Special */
:root[data-theme="dark"] .codehilite .gd { color: #f88f7f; background-color: #3d1e20 } /* Generic.Deleted */
:root[data-theme="dark"] .codehilite .ge { color: #d4d2c8; font-style: italic } /* Generic.Emph */
:root[data-theme="dark"] .codehilite .ges { color: #d4d2c8 } /* Generic.EmphStrong */
:root[data-theme="dark"] .codehilite .gr { color: #f88f7f } /* Generic.Error */
:root[data-theme="dark"] .codehilite .gh { color: #d4d2c8 } /* Generic.Heading */
:root[data-theme="dark"] .codehilite .gi { color: #6ad4af; background-color: #19362c } /* Generic.Inserted */
:root[data-theme="dark"] .codehilite .go { color: #7e8aa1 } /* Generic.Output */
:root[data-theme="dark"] .codehilite .gp { color: #d4d2c8 } /* Generic.Prompt */
:root[data-theme="dark"] .codehilite .gs { color: #d4d2c8; font-weight: bold } /* Generic.Strong */
:root[data-theme="dark"] .codehilite .gu { color: #d4d2c8 } /* Generic.Subheading */
:root[data-theme="dark"] .codehilite .gt { color: #f88f7f } /* Generic.Traceback */
:root[data-theme="dark"] .codehilite .kc { color: #FFAD66 } /* Keyword.Constant */
:root[data-theme="dark"] .codehilite .kd { color: #FFAD66 } /* Keyword.Declaration */
:root[data-theme="dark"] .codehilite .kn { color: #FFAD66 } /* Keyword.Namespace */
:root[data-theme="dark"] .codehilite .kp { color: #FFAD66 } /* Keyword.Pseudo */
:root[data-theme="dark"] .codehilite .kr { color: #FFAD66 } /* Keyword.Reserved */
:root[data-theme="dark"] .codehilite .kt { color: #73D0FF } /* Keyword.Type */
:root[data-theme="dark"] .codehilite .ld { color: #D5FF80 } /* Literal.Date */
:root[data-theme="dark"] .codehilite .m { color: #DFBFFF } /* Literal.Number */
:root[data-theme="dark"] .codehilite .s { color: #D5FF80 } /* Literal.String */
:root[data-theme="dark"] .codehilite .na { color: #FFD173 } /* Name.Attribute */
:root[data-theme="dark"] .codehilite .nb { color: #FFD173 } /* Name.Builtin */
:root[data-theme="dark"] .codehilite .nc { color: #73D0FF } /* Name.Class */
:root[data-theme="dark"] .codehilite .no { color: #FFD173 } /* Name.Constant */
:root[data-theme="dark"] .codehilite .nd { color: #7e8aa1; font-weight: bold; font-style: italic } /* Name.Decorator */
:root[data-theme="dark"] .codehilite .ni { color: #95E6CB } /* Name.Entity */
:root[data-theme="dark"] .codehilite .ne { color: #73D0FF } /* Name.Exception */
:root[data-theme="dark"] .codehilite .nf { color: #FFD173 } /* Name.Function */
:root[data-theme="dark"] .codehilite .nl { color: #d4d2c8 } /* Name.Label */
:root[data-theme="dark"] .codehilite .nn { color: #d4d2c8 } /* Name.Namespace */
:root[data-theme="dark"] .codehilite .nx { color: #d4d2c8 } /* Name.Other */
:root[data-theme="dark"] .codehilite .py { color: #FFD173 } /* Name.Property */
:root[data-theme="dark"] .codehilite .nt { color: #5CCFE6 } /* Name.Tag */
:root[data-theme="dark"] .codehilite .nv { color: #d4d2c8 } /* Name.Variable */
:root[data-theme="dark"] .codehilite .ow { color: #FFAD66 } /* Operator.Word */
:root[data-theme="dark"] .codehilite .pm { color: #d4d2c8 } /* Punctuation.Marker */
:root[data-theme="dark"] .codehilite .w { color: #d4d2c8 } /* Text.Whitespace */
:root[data-theme="dark"] .codehilite .mb { color: #DFBFFF } /* Literal.Number.Bin */
:root[data-theme="dark"] .codehilite .mf { color: #DFBFFF } /* Literal.Number.Float */
:root[data-theme="dark"] .codehilite .mh { color: #DFBFFF } /* Literal.Number.Hex */
:root[data-theme="dark"] .codehilite .mi { color: #DFBFFF } /* Literal.Number.Integer */
:root[data-theme="dark"] .codehilite .mo { color: #DFBFFF } /* Literal.Number.Oct */
:root[data-theme="dark"] .codehilite .sa { color: #F29E74 } /* Literal.String.Affix */
:root[data-theme="dark"] .codehilite .sb { color: #D5FF80 } /* Literal.String.Backtick */
:root[data-theme="dark"] .codehilite .sc { color: #D5FF80 } /* Literal.String.Char */
:root[data-theme="dark"] .codehilite .dl { color: #D5FF80 } /* Literal.String.Delimiter */
:root[data-theme="dark"] .codehilite .sd { color: #7e8aa1 } /* Literal.String.Doc */
:root[data-theme="dark"] .codehilite .s2 { color: #D5FF80 } /* Literal.String.Double */
:root[data-theme="dark"] .codehilite .se { color: #95E6CB } /* Literal.String.Escape */
:root[data-theme="dark"] .codehilite .sh { color: #D5FF80 } /* Literal.String.Heredoc */
:root[data-theme="dark"] .codehilite .si { color: #95E6CB } /* Literal.String.Interpol */
:root[data-theme="dark"] .codehilite .sx { color: #95E6CB } /* Literal.String.Other */
:root[data-theme="dark"] .codehilite .sr { color: #95E6CB } /* Literal.String.Regex */
:root[data-theme="dark"] .codehilite .s1 { color: #D5FF80 } /* Literal.String.Single */
:root[data-theme="dark"] .codehilite .ss { color: #DFBFFF } /* Literal.String.Symbol */
:root[data-theme="dark"] .codehilite .bp { color: #5CCFE6 } /* Name.Builtin.Pseudo */
:root[data-theme="dark"] .codehilite .fm { color: #FFD173 } /* Name.Function.Magic */
:root[data-theme="dark"] .codehilite .vc { color: #d4d2c8 } /* Name.Variable.Class */
:root[data-theme="dark"] .codehilite .vg { color: #d4d2c8 } /* Name.Variable.Global */
:root[data-theme="dark"] .codehilite .vi { color: #d4d2c8 } /* Name.Variable.Instance */
:root[data-theme="dark"] .codehilite .vm { color: #d4d2c8 } /* Name.Variable.Magic */
:root[data-theme="dark"] .codehilite .il { color: #DFBFFF } /* Literal.Number.Integer.Long */

:root[data-theme="light"] pre { line-height: 125%; }
:root[data-theme="light"] td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
:root[data-theme="light"] span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
:root[data-theme="light"] td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:root[data-theme="light"] span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
:root[data-theme="light"] .codehilite .hll { background-color: #ffffcc }
:root[data-theme="light"] .codehilite { background: #f8f8f8; }
:root[data-theme="light"] .codehilite .c { color: #3D7B7B; font-style: italic } /* Comment */
:root[data-theme="light"] .codehilite .err { border: 1px solid #FF0000 } /* Error */
:root[data-theme="light"] .codehilite .k { color: #008000; font-weight: bold } /* Keyword */
:root[data-theme="light"] .codehilite .o { color: #666666 } /* Operator */
:root[data-theme="light"] .codehilite .ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
:root[data-theme="light"] .codehilite .cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
:root[data-theme="light"] .codehilite .cp { color: #9C6500 } /* Comment.Preproc */
:root[data-theme="light"] .codehilite .cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
:root[data-theme="light"] .codehilite .c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
:root[data-theme="light"] .codehilite .cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
:root[data-theme="light"] .codehilite .gd { color: #A00000 } /* Generic.Deleted */
:root[data-theme="light"] .codehilite .ge { font-style: italic } /* Generic.Emph */
:root[data-theme="light"] .codehilite .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
:root[data-theme="light"] .codehilite .gr { color: #E40000 } /* Generic.Error */
:root[data-theme="light"] .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
:root[data-theme="light"] .codehilite .gi { color: #008400 } /* Generic.Inserted */
:root[data-theme="light"] .codehilite .go { color: #717171 } /* Generic.Output */
:root[data-theme="light"] .codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
:root[data-theme="light"] .codehilite .gs { font-weight: bold } /* Generic.Strong */
:root[data-theme="light"] .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
:root[data-theme="light"] .codehilite .gt { color: #0044DD } /* Generic.Traceback */
:root[data-theme="light"] .codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
:root[data-theme="light"] .codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
:root[data-theme="light"] .codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
:root[data-theme="light"] .codehilite .kp { color: #008000 } /* Keyword.Pseudo */
:root[data-theme="light"] .codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
:root[data-theme="light"] .codehilite .kt { color: #B00040 } /* Keyword.Type */
:root[data-theme="light"] .codehilite .m { color: #666666 } /* Literal.Number */
:root[data-theme="light"] .codehilite .s { color: #BA2121 } /* Literal.String */
:root[data-theme="light"] .codehilite .na { color: #687822 } /* Name.Attribute */
:root[data-theme="light"] .codehilite .nb { color: #008000 } /* Name.Builtin */
:root[data-theme="light"] .codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
:root[data-theme="light"] .codehilite .no { color: #880000 } /* Name.Constant */
:root[data-theme="light"] .codehilite .nd { color: #AA22FF } /* Name.Decorator */
:root[data-theme="light"] .codehilite .ni { color: #717171; font-weight: bold } /* Name.Entity */
:root[data-theme="light"] .codehilite .ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
:root[data-theme="light"] .codehilite .nf { color: #0000FF } /* Name.Function */
:root[data-theme="light"] .codehilite .nl { color: #767600 } /* Name.Label */
:root[data-theme="light"] .codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
:root[data-theme="light"] .codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
:root[data-theme="light"] .codehilite .nv { color: #19177C } /* Name.Variable */
:root[data-theme="light"] .codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
:root[data-theme="light"] .codehilite .w { color: #bbbbbb } /* Text.Whitespace */
:root[data-theme="light"] .codehilite .mb { color: #666666 } /* Literal.Number.Bin */
:root[data-theme="light"] .codehilite .mf { color: #666666 } /* Literal.Number.Float */
:root[data-theme="light"] .codehilite .mh { color: #666666 } /* Literal.Number.Hex */
:root[data-theme="light"] .codehilite .mi { color: #666666 } /* Literal.Number.Integer */
:root[data-theme="light"] .codehilite .mo { color: #666666 } /* Literal.Number.Oct */
:root[data-theme="light"] .codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
:root[data-theme="light"] .codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
:root[data-theme="light"] .codehilite .sc { color: #BA2121 } /* Literal.String.Char */
:root[data-theme="light"] .codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
:root[data-theme="light"] .codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
:root[data-theme="light"] .codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
:root[data-theme="light"] .codehilite .se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
:root[data-theme="light"] .codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
:root[data-theme="light"] .codehilite .si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
:root[data-theme="light"] .codehilite .sx { color: #008000 } /* Literal.String.Other */
:root[data-theme="light"] .codehilite .sr { color: #A45A77 } /* Literal.String.Regex */
:root[data-theme="light"] .codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
:root[data-theme="light"] .codehilite .ss { color: #19177C } /* Literal.String.Symbol */
:root[data-theme="light"] .codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
:root[data-theme="light"] .codehilite .fm { color: #0000FF } /* Name.Function.Magic */
:root[data-theme="light"] .codehilite .vc { color: #19177C } /* Name.Variable.Class */
:root[data-theme="light"] .codehilite .vg { color: #19177C } /* Name.Variable.Global */
:root[data-theme="light"] .codehilite .vi { color: #19177C } /* Name.Variable.Instance */
:root[data-theme="light"] .codehilite .vm { color: #19177C } /* Name.Variable.Magic */
:root[data-theme="light"] .codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */

/* Default theme - dark (lightbulb) */
:root:not([data-theme]) .codehilite { background: #282c34; color: #abb2bf }
:root:not([data-theme]) pre { line-height: 125%; }

/* System preference override for light mode */
@media (prefers-color-scheme: light) {
  :root:not([data-theme]) .codehilite { background: #f8f8f8; color: inherit; }
}
